.root {}

.heading1 {}

.heading2 {}

.heading3 {}

.heading4 {}

.subtitle1 {}

.subtitle2 {}

.body2 {}

.body1 {}

.button {
  color: black;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
}

.overline {}
